
@media screen and (max-width:1200px){

    .project_div_text button {
        /* background-color: red !important; */
        font-size: small;
    }

}


@media screen and (max-width:1150px){

    .project_div_text button {
        /* background-color: red !important; */
        width: 100% !important;
        height: 10% !important;
    }

}

@media screen and (max-width:991px){

    .nav_link{
        justify-content:center;
        align-items: center;

    }

    .nav_link a {
        width: 100%;
        text-align: center;
        /* background-color: red; */
        margin-top: 5%;
        color: white;
    }


    dialog div div form {
       
        width: 100%;
        
    }

    .project_main_box{
        padding: 10% !important;
        /* background-color: rgba(0, 110, 255, 0.618); */
    }

    .project_div {
        
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .project_div_text {
        width: 100% !important;
       
    }

    .project_div_image {
      
        width: 100% !important;
        margin-bottom: 20px;
    }

    .project_div_text button {
        padding: 10px 0% !important;
    }

    


}




@media screen and (max-width:650px){

    .home_page_1 {
        /* background-color: rgba(255, 0, 0, 0.159); */
        padding: 50px 10% ;
    }

    .home_page_2 {
        padding:0% 0px;
        margin: 0px 0px;
        

        /* background-color: rgb(220, 20, 20); */
    }

    .home_page_2 div {
        width: 25%;
        height: 100px;
        border-left: 0.5px solid rgb(0, 0, 0);
        /* background-color: aqua; */
    }


    .home_page_2 h1{
        font-size: 20px;
    }
    .home_page_2 p{
        font-size: 10px;
    }

}


@media screen and (max-width:550px){

    dialog div div form {
       
        padding: 0px;
        
    }

    .contact_form_div{
        /* background-color: rgba(63, 202, 28, 0.332); */
        width:100%;
        height: auto;

      }


      .contact_form_div input {
        width: 90%;
    }

    .contact_form_div textarea{
        width: 90%;
    }


      
}


@media screen and (max-width:350px){

    .home_page_1 button {
        /* margin-top: 100px; */
        margin: 0px !important;
        margin-right: 4% !important;
        margin-bottom: 10px !important;

    }

    .home_page_2 div {
        width: 25%;
        height: 70px;
        border-left: 0.5px solid rgb(0, 0, 0);
        /* background-color: aqua; */
    }

}
